// Variables
@import 'variables';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Bootstrap icons
@import '~bootstrap-icons/font/bootstrap-icons';
// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
// Colors
$color-primary: #553c9a;
$color-secondary: #626262;
$color-border: #b393d3;
// Media Queries breakpoints
$small: 480px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
@mixin hide-menu-items($index) {
    &:nth-child(n+#{$index + 1}) {
        display: none;
    }
    &:nth-child(#{$index}) .menu__link {
        border-right: 0;
    }
}

body {
    
    align-items: center;
    height: 100vh;    
}

a {
    outline: 0;
    text-decoration: none;
}

img {
    
}

.navigation {
    width: 100%;
    border-bottom: 1px solid $color-border;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 22px;
    
    .menu {
        display: flex;
        justify-content: center;
        max-width: 1150px;
        margin: 0 auto;
        padding-left: 0;
        padding-top: 100px;
    }
    .menu__item {
        display: inline-block;
        white-space: nowrap;
        @media screen and (max-width: $small) {
            @include hide-menu-items(2);
        }
        @media screen and (max-width: $medium) {
            @include hide-menu-items(3);
        }
        @media screen and (max-width: $large) {
            @include hide-menu-items(4);
        }
        &:last-child .menu__link {
            border-right: 0;
        }
    }
    .menu__link {
        display: block;
        padding: 6px 30px 3px;
        border-right: 2px dotted $color-border;
        &:hover,
        &:focus {
            .menu__first-word {
                transform: translate3d(0, -105%, 0);
            }
            .menu__second-word {
                transform: translate3d(0, 105%, 0);
            }
        }
        @media screen and (min-width: $medium) {
            padding: 6px 40px 3px;
        }
    }
    .menu__title {
        display: inline-block;
        overflow: hidden;
    }
    .menu__first-word,
    .menu__second-word {
        display: inline-block;
        position: relative;
        transition: transform .3s;
        &::before {
            position: absolute;
            content: attr(data-hover);
        }
    }
    .menu__first-word {
        color: #553c9a;
        &::before {
            top: 105%;
            color: $color-secondary;
        }
    }
    .menu__second-word {
        color: $color-secondary;
        &::before {
            bottom: 105%;
            color: $color-primary;
        }
    }
}

.formCard {
    border-radius: 25px;
    background: linear-gradient(180deg, rgba(255,224,145,1) 90%, rgb(255, 205, 98) 100%);
    color: black;
    background-clip: border-box;
    border: 1px solid white;
    position: relative;
}

.card1 h6 {
    margin-bottom: 3.2rem !important;
}

.card1 {
    margin-top: 10px;
    margin-left: 80px;
    z-index: 0;
    border-right: 1px solid grey;
}


.card2 {
    display: none; //ukrycie
}

.card2.show {
    display: block; //pojawienie
}

.prevstep {
    display: block; //pojawienie
    position: absolute;
    left: 50px;
    top: 30px;
    cursor: pointer;
}

.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.editSocial{
    display: none;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}


.card-body2 {
    display: none; //ukrycie
}

.card-body2.show {
    display: block; //pojawienie
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
